/* Defining colors*/
:root {
  --theme-white: #f0f0f0;
  --theme-orange: #e89e00;
  --theme-black: #000000;
  --theme-gray: #535353;
}

/* Animations */
@keyframes backgroundFadeIn {
  0%   {opacity: 0; display: none;}
  100% {opacity: 1; display: block;}
}

@keyframes backgroundFadeOut {
  0%   {opacity: 1; display: block;}
  100% {opacity: 0; display: none;}
}

/* To be removed once shipped */
body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: 'Cabin', sans-serif;
  /* color text */
  color: #444;
}

#scene-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--theme-gray);
}

/**************************** Menu container *************************************/

.menu-container{
  position: absolute;
  background: rgb(232,158,0);
  background: linear-gradient(90deg, rgba(232,158,0,1) 0%, rgba(0,0,0,0) 90%);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  animation: backgroundFadeIn 2s ease forwards;

}

.menu-container-fade-out{
  animation: backgroundFadeOut 0.7s ease forwards;
}
/**************************** Logo *************************************/

.logo{
  position: absolute;
  top: 3%;
  left: 15px;  
  height: auto;
  width: 25vmax;
  margin: 1%;
}

/**************************** Menu *************************************/
.menu {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
  transform: translateY(-50%);
}

.menu-item {
  color: var(--theme-gray);
  font-size: 2em;
  text-align: center;
  padding: 15px 30px;
  cursor: pointer;
  display: block;
  width: 100%;
}
.menu-item:hover {
  color:var(--theme-white);
  background: var(--theme-gray);
  background: linear-gradient(90deg, var(--theme-gray) 0%, rgba(0,0,0,0) 80%);
  
}

.menu-item button {
  background: none;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-align: left;
  font-size: 1.9em;
  display: block;
}

#scene-container .start-btn {
  position: absolute;
  left: 0px;
  top: 0px;
}

#scene-container .restart-btn {
  position: absolute;
  left: 0px;
  top: 0px;
}

@property --progress {
  syntax: "<length>";
  initial-value: 100%;
  inherits: true;
}

.in-game-container {
  display: flex;
  background: rgba(0, 0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0; 
}

.left-game-container div {
  display: none;
  opacity: 0;
  animation: backgroundFadeIn 2s ease forwards;
  animation-delay: 0.5s;
}
.left-game-container span {
  text-align: right;
}

.left-game-container label {
  text-align: right;
}

 .right-game-container div {
  display: none;
  opacity: 0;
  animation: backgroundFadeIn 2s ease forwards;
  animation-delay: 0.5s;
}

.right-game-container span {
  text-align: left;
}

.right-game-container label {
  text-align: left;
}

.in-game-container span {
  font-size: 3em;
}
/* Styles for child elements to enhance appearance */
.in-game-container label,
.in-game-container span {
  display: block; /* Make labels and spans take the full width */
}

#scene-container .in-game-container .bar {
  width: var(--progress);
  background-color: color-mix(in srgb, #44bd32 var(--progress), #e84118);
  /* transition: width 100ms; this will be set by JavaScript */
  flex-grow: 2;
  order: 99;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 15px;

}

.bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent);
  animation: shine 2s infinite;
}

#scene-container span {
  padding-bottom: 0px!important;
  padding-top: 20px!important;

}

#scene-container label {
  padding-top: 0px!important;
  padding-bottom: 30px!important;
}
#scene-container .total-score {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 0;
  border-bottom: solid #e89e00 3px;
}

#scene-container .total-score label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .total-score span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .targets-hit {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 59;
  border-bottom: solid #e89e00 3px;
}

#scene-container .targets-hit label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .targets-hit span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .best-reaction {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 89;
}

#scene-container .best-reaction label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .best-reaction span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .targets-missed {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 79;
}

#scene-container .targets-missed label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .targets-missed span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 1 / 1;
  border: 1rem solid #f5f6fa;
  color: #f5f6fa;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(0.75rem);
}

#scene-container .counter span {
  font-size: 7rem;
}

.best-reaction-time-popup{
  color: rgb(0, 248, 0)!important;
}

#scene-container .reaction-time-popup {
  position: fixed;
  font-size: 2rem;
  color: #ffffff;
  pointer-events: none;
  user-select: none;
  text-align: center;
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease-in-expo;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.96);
}

.end-game-container {
  display: flex;
  background: rgba(0, 0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.123) 100%);
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0; 
}
