/* Defining colors*/
:root {
  --theme-white: #f0f0f0;
  --theme-orange: #e89e00;
  --theme-orange-alpha: rgba(232, 158, 0, 0.7);
  --theme-black: #000000;
  --theme-gray: #535353;
  --theme-disabled-btn-text: #bdc3c7;
  --theme-red: #e74c3c;
}

/* Animations */
@keyframes backgroundFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@-webkit-keyframes backgroundFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@-moz-keyframes backgroundFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@-o-keyframes backgroundFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes backgroundFadeOut {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes backgroundFadeOut {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes backgroundFadeOut {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@-o-keyframes backgroundFadeOut {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backgroundFlexFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@-webkit-keyframes backgroundFlexFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@-moz-keyframes backgroundFlexFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@-o-keyframes backgroundFlexFadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes backgroundFlexFadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: flex;
  }
}

@-webkit-keyframes backgroundFlexFadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: flex;
  }
}

@-moz-keyframes backgroundFlexFadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: flex;
  }
}

@-o-keyframes backgroundFlexFadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: flex;
  }
}

@keyframes mobileStartMenuAnimationIn {
  0% {
    background-color: white;
  }

  100% {
    background-color: #0000006e;
  }
}

@-webkit-keyframes mobileStartMenuAnimationIn {
  0% {
    background-color: white;
  }

  100% {
    background-color: #0000006e;
  }
}

@-moz-keyframes mobileStartMenuAnimationIn {
  0% {
    background-color: white;
  }

  100% {
    background-color: #0000006e;
  }
}

@-o-keyframes mobileStartMenuAnimationIn {
  0% {
    background-color: white;
  }

  100% {
    background-color: #0000006e;
  }
}

@keyframes mobileStartMenuAnimationOut {
  0% {
    background-color: #0000006e;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    opacity: inherit;
  }

  100% {
    background-color: transparent;
    -webkit-backdrop-filter: none;
    -moz-backdrop-filter: none;
    -o-backdrop-filter: none;
    opacity: 0;
  }
}

@-webkit-keyframes mobileStartMenuAnimationOut {
  0% {
    background-color: #0000006e;
    -webkit-backdrop-filter: blur(8px);
    opacity: inherit;
  }

  100% {
    background-color: transparent;
    -webkit-backdrop-filter: none;
    opacity: 0;
  }
}

@-moz-keyframes mobileStartMenuAnimationOut {
  0% {
    background-color: #0000006e;
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    opacity: inherit;
  }

  100% {
    background-color: transparent;
    -moz-backdrop-filter: none;
    opacity: 0;
  }
}

@-o-keyframes mobileStartMenuAnimationOut {
  0% {
    background-color: #0000006e;
    -o-backdrop-filter: blur(8px);
    opacity: inherit;
  }

  100% {
    background-color: transparent;
    -o-backdrop-filter: none;
    opacity: 0;
  }
}

@keyframes mobileInGameResultAnimationIn {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(255, 255, 255, 0.678);
  }
}

@-webkit-keyframes mobileInGameResultAnimationIn {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(255, 255, 255, 0.678);
  }
}

@-moz-keyframes mobileInGameResultAnimationIn {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(255, 255, 255, 0.678);
  }
}

@-o-keyframes mobileInGameResultAnimationIn {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(255, 255, 255, 0.678);
  }
}

/* To be removed once shipped */
body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-family: "Exo", "Cabin", sans-serif;
  /* color text */
  color: #444;
}

/*****************************************************************************/
/************************** SCENE (ThreeJS) CONTAINER ************************/
/*****************************************************************************/

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--theme-gray);
}

/*****************************************************************************/
/******************************** MENU CONTAINER *****************************/
/*****************************************************************************/

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.2em;
  background: linear-gradient(
    90deg,
    var(--theme-orange) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  animation: backgroundFadeIn 2s ease forwards;
  -webkit-animation: backgroundFadeIn 2s ease forwards;
  -moz-animation: backgroundFadeIn 2s ease forwards;
  -o-animation: backgroundFadeIn 2s ease forwards;
}

.menu-container-fade-out {
  animation: backgroundFadeOut 0.7s ease forwards;
  -webkit-animation: backgroundFadeOut 0.7s ease forwards;
  -moz-animation: backgroundFadeOut 0.7s ease forwards;
  -o-animation: backgroundFadeOut 0.7s ease forwards;
}

.menu-container .logo {
  margin: 0px 33% 0px 30px;
  order: 0;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
  order: 2;
}

.menu-item {
  color: var(--theme-gray);
  text-align: center;
  padding: 15px 30px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.menu-item:hover {
  color: var(--theme-white);
  background: linear-gradient(
    90deg,
    var(--theme-gray) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.menu-item div {
  background: none;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-align: left;
  display: block;
}

.select-difficulty-switch {
  display: flex;
  justify-content: space-between;
  border: solid white 4px;
  border-radius: 50px;
  margin: 0px 33% 0px 30px;
  order: 3;
}

.select-difficulty-switch button {
  background: none;
  border: none;
  color: var(--theme-gray);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: inherit;
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
}

.select-difficulty-switch button:disabled {
  color: var(--theme-disabled-btn-text);
}

.select-difficulty-switch button:hover:enabled {
  color: var(--theme-gray);
  cursor: pointer;
  color: var(--theme-red);
}

.select-difficulty-switch label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************************************************************/
/****************************** IN-GAME-CONTAINER ****************************/
/*****************************************************************************/

@property --progress {
  syntax: "<length>";
  initial-value: 100%;
  inherits: true;
}

.in-game-container {
  display: flex;
  background: rgba(0, 0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}

.in-game-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-game-container div {
  display: none;
  opacity: 0;
  animation: backgroundFlexFadeIn 2s ease forwards;
  animation-delay: 0.5s;

  -webkit-animation: backgroundFlexFadeIn 2s ease forwards;
  -webkit-animation-delay: 0.5s;

  -moz-animation: backgroundFlexFadeIn 2s ease forwards;
  -moz-animation-delay: 0.5s;

  -o-animation: backgroundFlexFadeIn 2s ease forwards;
  -o-animation-delay: 0.5s;
  flex-direction: column;
}

.left-game-container span {
  width: 100%;
  text-align: right;
}

.left-game-container label {
  width: 100%;
  text-align: right;
}

.right-game-container div {
  display: none;
  opacity: 0;
  animation: backgroundFlexFadeIn 2s ease forwards;
  animation-delay: 0.5s;

  -webkit-animation: backgroundFlexFadeIn 2s ease forwards;
  -webkit-animation-delay: 0.5s;

  -moz-animation: backgroundFlexFadeIn 2s ease forwards;
  -moz-animation-delay: 0.5s;

  -o-animation: backgroundFlexFadeIn 2s ease forwards;
  -o-animation-delay: 0.5s;
  flex-direction: column;
}

.right-game-container span {
  width: 100%;
  text-align: left;
}

.right-game-container label {
  width: 100%;
  text-align: left;
}

.in-game-container span {
  font-size: 3em;
}

#scene-container .in-game-container .bar {
  width: var(--progress);
  background-color: color-mix(in srgb, #44bd32 var(--progress), #e84118);
  /* transition: width 100ms; this will be set by JavaScript */
  flex-grow: 2;
  order: 99;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 15px;
}

.bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent);
  animation: shine 2s infinite;
  -webkit-animation: shine 2s infinite;
  -moz-animation: shine 2s infinite;
  -o-animation: shine 2s infinite;
}

#scene-container .total-score {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 0;
  border-bottom: solid #e89e00 3px;
}

#scene-container .total-score label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .total-score span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .targets-hit {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 59;
  border-bottom: solid #e89e00 3px;
}

#scene-container .targets-hit label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .targets-hit span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .best-reaction {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 89;
}

#scene-container .best-reaction label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .best-reaction label::after {
  content: "(ms)";
  padding-left: 5px;
  text-transform: lowercase;
}

#scene-container .best-reaction span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .targets-missed {
  flex-grow: 1;
  display: flex;
  align-items: center;
  order: 79;
}

#scene-container .targets-missed label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  flex-grow: 2;
}

#scene-container .targets-missed span {
  padding: 5px;
  flex-grow: 5;
}

#scene-container .counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  aspect-ratio: 1 / 1;
  border: 0.7em solid #f5f6fa;
  color: #f5f6fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -o-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
}

#scene-container .counter span {
  font-size: 6em;
}

.best-reaction-time-popup {
  color: rgb(0, 248, 0) !important;
}

#scene-container .reaction-time-popup {
  position: fixed;
  font-size: 2rem;
  color: #ffffff;
  pointer-events: none;
  user-select: none;
  text-align: center;
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease-in-expo;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.96);
}

.end-game-container {
  display: flex;
  gap: 10px;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.2em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40%;
  padding: 30px 33% 30px 30px;
  background: linear-gradient(
    90deg,
    var(--theme-orange) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  font-size: 2em;
}

.end-game-container .end-game-logo {
  order: 0;
  pointer-events: none;
  user-select: none;
}

.end-game-container .end-game-targets-hit {
  order: 0;
  pointer-events: none;
  user-select: none;
}

.end-game-container .end-game-targets-hit::before {
  content: "Targets Hit";
  margin-right: 5px;
  font-size: 0.5em;
}

.end-game-container .end-game-targets-seperator {
  order: 5;
  pointer-events: none;
  user-select: none;
  font-size: 1.1em;
  color: var(--theme-white);
  padding-left: 5px;
  padding-right: 5px;
}

.end-game-container .end-game-total-targets {
  order: 9;
  pointer-events: none;
  user-select: none;
}

.end-game-container .end-game-total-targets::after {
  content: "Total Targets";
  margin-left: 5px;
  font-size: 0.5em;
}

.end-game-container .end-game-total-score {
  order: 10;
  pointer-events: none;
  user-select: none;
}

.end-game-container .end-game-total-score::before {
  content: "Score";
  margin-right: 5px;
  font-size: 0.5em;
}

.end-game-container .end-game-targets-missed {
  order: 15;
  pointer-events: none;
  user-select: none;
}

.end-game-container .end-game-targets-missed::before {
  content: "Tartets Missed";
  margin-right: 5px;
  font-size: 0.5em;
}

.end-game-container .end-game-best-reaction {
  order: 20;
  pointer-events: none;
  user-select: none;
}

.end-game-container .end-game-best-reaction::before {
  content: "Best Reaction Time";
  margin-right: 5px;
  font-size: 0.5em;
}

#chartjs-canvas {
  order: 30;
  pointer-events: none;
  user-select: none;
}

.end-game-container .select-difficulty-switch {
  order: 50;
  margin: 0;
}

.end-game-container .restart-btn {
  order: 99;
  background-color: var(--theme-gray);
  color: var(--theme-white);
  cursor: pointer;
  border: none;
  font: inherit;
}

.end-game-container .restart-btn:hover {
  background-color: #cc8a00;
}

/******************************************************************************
******************************* Loader Container ******************************
******************************************************************************/

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 10px 0;
  aspect-ratio: 9/1;
  display: block;
}

.loader-container .loader-progress {
  height: 75%;
  background: linear-gradient(
    to right,
    var(--theme-orange) 0%,
    var(--theme-orange) var(--loadingprogress),
    var(--theme-white) var(--loadingprogress)
  );
}

.loader-container .labels-container {
  color: var(--theme-gray);
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/******************************************************************************
******************************** WIDTH <= 400 *********************************
******************************************************************************/

@media only screen and (max-width: 400px) {
  .menu-container {
    right: 0%;
    background: #0000006e;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    animation: mobileStartMenuAnimationIn 1s ease;
    -webkit-animation: mobileStartMenuAnimationIn 1s ease;
    -moz-animation: mobileStartMenuAnimationIn 1s ease;
    -o-animation: mobileStartMenuAnimationIn 1s ease;
  }

  .menu-container .logo {
    margin: 0% 5%;
  }

  .menu-item {
    padding: 15px 0px;
  }

  .menu-item div {
    color: #e89e00;
    text-align: center;
    font-size: 0.9em;
  }

  .menu-item:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      var(--theme-gray) 50%,
      rgba(0, 0, 0, 0)
    );
  }

  #scene-container .counter span {
    font-size: 4em;
  }

  .menu-container .select-difficulty-switch {
    margin: 0px 5%;
    font-size: 0.9em;
    color: #d1d1c2;
  }

  .menu-container-fade-out {
    animation: 1s mobileStartMenuAnimationOut ease forwards;
    -webkit-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -moz-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -o-animation: 1s mobileStartMenuAnimationOut ease forwards;
    background-color: transparent;
  }

  .in-game-container {
    align-items: flex-end !important;
    padding: 0px;
  }

  .in-game-result {
    background-color: rgba(255, 255, 255, 0.678);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    animation: 1s mobileInGameResultAnimationIn ease;
    -webkit-animation: 1s mobileInGameResultAnimationIn ease;
    -moz-animation: 1s mobileInGameResultAnimationIn ease;
    -o-animation: 1s mobileInGameResultAnimationIn ease;
  }

  .in-game-result div {
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .end-game-container {
    right: 0;
    padding: 3% 4%;
    background: var(--theme-orange-alpha);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    -o-backdrop-filter: blur(6px);
    font-size: 1.5em;
  }

  .end-game-container .end-game-logo {
    margin: 0% 10%;
  }

  .loader-container {
    width: 90%;
  }
}

/******************************************************************************
*************************** 401 <= WIDTH <= 600  ******************************
******************************************************************************/

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .menu-container {
    right: 0%;
    background: none;
    background-color: #0000006e;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    animation: mobileStartMenuAnimationIn 1s ease;
    -webkit-animation: mobileStartMenuAnimationIn 1s ease;
    -moz-animation: mobileStartMenuAnimationIn 1s ease;
    -o-animation: mobileStartMenuAnimationIn 1s ease;
  }

  .menu-item {
    padding: 15px 0px;
  }

  .menu-item div {
    color: #e89e00;
    text-align: center;
    font-size: 1em;
  }

  .menu-item:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      var(--theme-gray) 50%,
      rgba(0, 0, 0, 0)
    );
  }

  #scene-container .counter span {
    font-size: 4em;
  }

  .menu-container .select-difficulty-switch {
    padding: 0px;
    margin: 0px 3%;
    color: #d1d1c2;
  }

  .menu-container-fade-out {
    animation: 1s mobileStartMenuAnimationOut ease forwards;
    -webkit-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -moz-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -o-animation: 1s mobileStartMenuAnimationOut ease forwards;
    background-color: transparent;
  }

  .menu-container .logo {
    margin: 0% 10%;
  }

  .in-game-container {
    align-items: flex-end !important;
    padding: 0px;
  }

  .in-game-result {
    background-color: rgba(255, 255, 255, 0.678);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    animation: 1s mobileInGameResultAnimationIn ease;
    -webkit-animation: 1s mobileInGameResultAnimationIn ease;
    -moz-animation: 1s mobileInGameResultAnimationIn ease;
    -o-animation: 1s mobileInGameResultAnimationIn ease;
  }

  .in-game-result div {
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .end-game-container {
    right: 0;
    padding: 4% 5%;
    background: var(--theme-orange-alpha);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    -o-backdrop-filter: blur(6px);
    font-size: 1.5em;
  }

  .end-game-container .end-game-logo {
    margin: 0% 15%;
  }

  .loader-container {
    width: 90%;
  }
}

/******************************************************************************
**************************** 601 <= WIDTH <= 768 ******************************
******************************************************************************/

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .menu-container {
    right: 0%;
    background: none;
    background-color: #0000006e;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    animation: mobileStartMenuAnimationIn 1s ease;
    -webkit-animation: mobileStartMenuAnimationIn 1s ease;
    -moz-animation: mobileStartMenuAnimationIn 1s ease;
    -o-animation: mobileStartMenuAnimationIn 1s ease;
  }

  .menu-item {
    padding: 15px 0px;
  }

  .menu-item div {
    color: #e89e00;
    text-align: center;
    font-size: 1em;
  }

  .menu-item:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      var(--theme-gray) 50%,
      rgba(0, 0, 0, 0)
    );
  }

  #scene-container .counter span {
    font-size: 4em;
  }

  .menu-container .select-difficulty-switch {
    padding: 0px;
    margin: 0px 15%;
    color: #d1d1c2;
  }

  .menu-container-fade-out {
    animation: 1s mobileStartMenuAnimationOut ease forwards;
    -webkit-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -moz-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -o-animation: 1s mobileStartMenuAnimationOut ease forwards;
    background-color: transparent;
  }

  .menu-container .logo {
    margin: 0% 10%;
  }

  .end-game-container {
    right: 0;
    padding: 4% 5%;
    background: var(--theme-orange-alpha);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    -o-backdrop-filter: blur(6px);
    font-size: 1.5em;
  }

  .end-game-container .end-game-logo {
    margin: 0% 20%;
  }

  .loader-container {
    width: 90%;
  }
}

/******************************************************************************
******************************* WIDTH >= 769 **********************************
******************************************************************************/

@media screen and ((orientation: portrait) or (max-aspect-ratio: 683/512)) and (min-width: 769px) {
  .menu-container {
    right: 0%;
    background: none;
    background-color: #0000006e;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    animation: mobileStartMenuAnimationIn 1s ease;
    -webkit-animation: mobileStartMenuAnimationIn 1s ease;
    -moz-animation: mobileStartMenuAnimationIn 1s ease;
    -o-animation: mobileStartMenuAnimationIn 1s ease;
  }

  .menu-item {
    padding: 15px 0px;
  }

  .menu-container .logo {
    margin: 0% 15%;
  }

  .menu-item div {
    color: #e89e00;
    text-align: center;
    font-size: 1em;
  }

  .menu-item:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      var(--theme-gray) 50%,
      rgba(0, 0, 0, 0)
    );
  }

  #scene-container .counter span {
    font-size: 4em;
  }

  .menu-container .select-difficulty-switch {
    padding: 0px;
    margin: 0px 15%;
    color: #d1d1c2;
  }

  .menu-container-fade-out {
    animation: 1s mobileStartMenuAnimationOut ease forwards;
    -webkit-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -moz-animation: 1s mobileStartMenuAnimationOut ease forwards;
    -o-animation: 1s mobileStartMenuAnimationOut ease forwards;
    background-color: transparent;
  }

  .end-game-container {
    right: 0;
    padding: 4% 5%;
    background: var(--theme-orange-alpha);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    -o-backdrop-filter: blur(6px);
    font-size: 1.5em;
  }

  .end-game-container .end-game-logo {
    margin: 0% 20%;
  }

  .loader-container {
    width: 90%;
  }
}

@property --loadingprogress {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
